/*start zero*/

*{
  padding: 0;
  border: 0;
  margin: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active{outline:none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,area{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

/*end zero*/

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 1 auto;
}


/*---------------header PC-----------------*/



.header {
  position: absolute;
  width: 100%;
  height: 18%;
}
.header__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-34vw , -50%);
  width: 3.1vw;
}

.header__nav{
  position: relative;
  z-index: 5;
}

.header__panel {
  display: flex;
  gap: 2.3vw;
}
.header__item > a{
  font-size: 1.5vw;
  font-family: Roboto Condensed;
  color: #FFFFFF;
  transition: 0.5s;
}
.header__item>a:hover {
  cursor: pointer;
  text-decoration: underline solid #00B2A0;
}

.header__item_focused>a {
  text-decoration: underline #00B2A0;
}




/*---------------preview PC-----------------*/


.preview {
  background-image: url(img/preview__background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  box-shadow: inset 0 19vh 29vh black;
  width: 100%;
  height: 106vh;
}
.preview__container {
  width: 100%;
  height: 100%;
  position: relative;
}
.preview__title {
position: absolute;
left: 50%;
top: 35.5%;
transform: translate(-50%, -50%);
font-family: Raleway;
font-weight: bold;
color: #0D302C;
font-size: 11vw;
}
.preview__text {
  position: absolute;
  left: 50%;
  top: 49%;
  transform: translate(-50%, -50%);
  font-family: Roboto Condensed;
  font-size: 1.35vw;
}

.preview__drop{
  position: absolute;
  left: 50%;
  top: 86%;
  transform: translate(-50%, -50%);
  width: 1%;
}

/*---------------preview mobile-----------------*/

  @media (max-width: 300px) {

    .preview__title {
    font-size: 25vw;
    }

    .preview__text {
      position: absolute;
      left: 50%;
      top: 49%;
      transform: translate(-50%, -50%);
      font-family: Roboto Condensed;
      font-size: 5vw;
      width: 50vw;
      text-align: center;
    }
    
    .preview__drop{
      position: absolute;
      left: 50%;
      top: 86%;
      transform: translate(-50%, -50%);
      width: 5%;
    }
  }


/*--------------about-------------*/


.about__container {
  width: 80vw;
  margin: 15vh auto 10vh auto;
}
.about__title {
  margin: 0 0 9.4vh 0;
  text-align: center;
}
.block-title{
  font-family: Raleway;
  font-size: 2vw;
  font-weight: bold;
}
.block-title>span{
  position: absolute;
  font-size: 3vw;
  color: #00B2A0;
  transform: translate(0, 25%);
}


.about__content {
  width: 100%;
  min-height: 80vh;
}
.about__content-text {
  display: grid;
  grid-gap: 0.1vw;
  grid-template-rows: 20vh 20vh 20vh 20vh;
  grid-template-columns: 35vw 35vw;
  justify-content: center;
  align-items: start;
}
.about__paragraph {
  font-family: Roboto Condensed;
  font-size: 1.1vw;
  font-weight: light;
  letter-spacing: 0.025vw;
  line-height: 126%;
}
.about__grid-item-1 {
  margin: 0 9vw 0 -9vw;
  grid-row: 1;
  grid-column: 1;
}
.about__grid-item-2 {
  margin: 0 9vw 0 -9vw;
  grid-row: 2;
  grid-column: 1;
}
.about__grid-item-3 {
  margin: 0 9vw 0 -9vw;
  grid-row: 3;
  grid-column: 1;
}
.about__grid-item-4 {
  margin: 0 9vw 0 -9vw;
  grid-row: 4;
  grid-column: 1;
}
.about__grid-item-5 {
  grid-row: 1;
  grid-column: 2;
}
.about__grid-item-6 {
  grid-row: 2;
  grid-column: 2;
}
.about__grid-item-7 {
  grid-row: 3;
  grid-column: 2;
}
.about__grid-item-8 {
  grid-row: 4;
  grid-column: 2;
}

/*-----------GONNA--------------*/

.gonna {
  background-color: #F8F8F8;
}
.gonna__container {
  width: 80vw;
  margin: 0 auto;
  padding: 5vw 0 2vw 0;
}

.gonna__title {
  text-align: center;
  font-size: 2.5vw;
}
.gonna__title>span{
  position: absolute;
}

.gonna__content {
  width: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 40vh 40vh;
  grid-column: repeat(6, 1fr);
}
.gonna__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1vw;
}

.gonna__features-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 1.5vw 0;
  font-family: Roboto Condensed;
  font-size: 1.5vw;
  color: #242121;
  padding: 0 25%;
  gap: 5%;
}
.gonna__features-title>img{
  width: 100%;
}

.gonna__features-text {
  font-family: Roboto Condensed;
  font-size: 1vw;
  font-weight: light;
  color: #242121;
  letter-spacing: 0.025vw;
  line-height: 126%;
}
.gonna__item-1 {
  grid-row: 1;
  grid-column: 1/3;
}
.gonna__item-2 {
  grid-row: 1;
  grid-column: 3/5;
}
.gonna__item-3 {
  grid-row: 1;
  grid-column: 5/7;
}
.gonna__item-4 {
  grid-row: 2;
  grid-column: 1/4;
}
.gonna__item-5 {
  grid-row: 2;
  grid-column: 4/7;
}


.gonna__wawe {
  margin: 1vw;
}

.gonna__wave-percent {
  display: flex;
  align-items: center;
  font-family: Roboto Condensed;
  font-size: 2vw;
  color: #242121;
}
.gonna__wave-percent>img{
  width: 50%;
}

.gonna__wave-text {
  font-family: Roboto Condensed;
  font-size: 1vw;
  font-weight: light;
}


.gonna__statistic-text {
  font-family: Roboto Condensed;
  font-size: 1vw;
  font-weight: light;
  color: #242121;
  line-height: 126%;
}
.gonna__statistic-text:not(:last-child){
  margin: 0 0 5vh 0;
}

/*------------win---------------*/


.win__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.2vh;
  margin: 0 0 10vh;
}
.win__content {
  width: 50%;
  padding: 0 5% 0 10%;
}
.win__title {
  text-align: start;
  margin: 0 0 15% 0;
  font-size: 3vw;
}
.win__text {
  font-family: Roboto Condensed;
  font-weight: light;
  font-size: 1.2vw;
  color: #242121;
  letter-spacing: 0.03vw;
  line-height: 126%;
}
.win__text:not(:last-child){
  margin: 0 0 2vh 0;
}


.win__image{
  width: 50%;
}

/*-------------gallery--------------*/


.gallery {
  border-bottom: 1px solid black;
  border-right:  1px solid black;;
  border-left:  1px solid black;
}
.gallery__container {
  width: 70vw;
  margin: 0 auto 5vw auto;
}
.gallery__title {
  text-align: center;
  margin: 0 0 10vh 0;
}

.gallery__panel {
  display: flex;
  gap: 1vw;
  margin: 0 0 5vh 0;
}
.gallery__nav-item {
  font-family: Roboto Condensed;
  font-size: 1.5vw;
  letter-spacing: 0.02vw;
  color: #242121;
  transition: 0.2s;
}
.gallery__nav-item_focused {
  color: #00B2A0;
}
.gallery__nav-item:hover{
  text-decoration: underline solid #00B2A0;
  color: #00B2A0;
  cursor: pointer;
}

.gallery__grid {
  width: 100%;
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: 15vw 15vw;
  margin: 0 0 3vw 0;
}
[class*="gallery__img-"]{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gallery__img-1 {
  grid-row: 1;
  grid-column: 1/3;
}
.gallery__img-2 {
  grid-row: 1;
  grid-column: 3;
}
.gallery__img-3 {
  grid-row: 1;
  grid-column: 4;
}
.gallery__img-4 {
  grid-row: 2;
  grid-column: 1;
}
.gallery__img-5 {
  grid-row: 2;
  grid-column: 2;
}
.gallery__img-6 {
  grid-row: 2;
  grid-column: 3/5;
}

.gallery__button-area {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__button {
  width: 25%;
  height: 7.5vh;
  background-color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 1.25vw;
  color: #242121;
  border: 1px solid #C4C4C4;
  transition: 0.2s;
}
.gallery__button:hover{
  background-color: #dadada;
}


/*-------------wisdom--------------*/

.wisdom {
  background-color: #F8F8F8;
}
.wisdom__container {
  width: 55vw;
  height: 10.26vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wisdom__quote {
  font-family: Roboto Condensed;
  font-size: 2vw;
  font-style: italic;
}
.wisdom__author {
  position: absolute;
  transform: translate(100%, 150%);
  font-family: Roboto Condensed;
  font-size: 1vw;
  font-style: italic;
  font-weight: light;
  color: #242121;
  line-height: 126%;
  letter-spacing: 0.025vw;
}

/*-------------awards--------------*/


.awards {
  width: 100%;
}
.awards__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.awards__img {
  width: 50%;
  margin: 10vw;
}
.awards__pride {
  margin: 0 0 10vw 0;
  display: flex;
  justify-content: center;
  gap: 5vw;
}
.awards__pride-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.awards__pride-title {
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 4vw;
  color: #01353E;
  margin: 0 0 1vw 0;
}
.awards__pride-text {
  font-family: Roboto Condensed;
  font-size: 0.9vw;
  font-weight: light;
  color: #242121;
  letter-spacing: 0.025vw;
}

/*-------------slider--------------*/

.slider {
  width: 100%;
}
.slider__container {
  width: 100%;
  margin: 0 auto 5vw auto;
}
.slider__title {
  text-align: center;
  margin: 0 0 5vw 0;
}

.slider__swiper {
  width: 100%;
  height: 70vh;
}


.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper__title {
  position: absolute;
  z-index: 2;
  font-family: Roboto Condensed;
  font-size: 2vw;
  font-weight: light;
  letter-spacing: 0.025vw;
  color: #FFFFFF;
  left: 50%;
  top: 40%;
}
.swiper__text {
  position: absolute;
  z-index: 2;
  font-family: Roboto Condensed;
  font-size: 1vw;
  font-weight: light;
  letter-spacing: 0.025vw;
  color: #FFFFFF;
  left: 50%;
  top: 55%;
}
.swiper-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  filter: brightness(0.5);
  position: relative;
  z-index: 1;
}

.swiper__item-1 {
  background-image: url(img/slider__item-1.jpg);
}
.swiper__item-2 {
  background-image: url(img/slider__item-2.jpg);
}
.swiper__item-3 {
  background-image: url(img/slider__item-3.jpg);
}
.swiper__item-4 {
  background-image: url(img/slider__item-4.jpg);
}
.swiper__item-5 {
  background-image: url(img/slider__item-5.jpg);
}
.swiper-pagination-bullet{
  background-color: #FFFFFF;
  width: 10px;
  height: 10px;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #00B2A0;
}
.swiper-pagination-horizontal{
  margin: 0 0 3vw 0;
}



/*--------comand-----------*/

.comand {
  width: 100%;
}
.comand__container {
  width: 70%;
  margin: 0 auto 10vw auto;
}
.comand__title {
  text-align: center;
}
.comand__fotos {
  margin: 10vw 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.comand__fotos-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comand__fotos-img {
  width: 20vw;
}
.comand__fotos-name {
  margin: 1vw 0 0.5vw 0;
  font-family: Roboto Condensed;
  font-weight: bold;
  color: #242121;
  font-size: 1.5vw;
}
.comand__fotos-profession {
  font-family: Roboto Condensed;
  font-size: 1vw;
  color: #242121;
}

/*------services-------*/


.services {
  width: 100%;
  background-color: #F8F8F8;
  padding: 7.5vw 0 7.5vw 0;
}
.services__container {
  width: 75%;
  margin: 0 auto 7.5vw auto;
}
.services__title {
  text-align: center;
}
.services__items {
  width: 100%;
  margin: 7.5vw 0 7.5vw 0 ;
  display: flex;
  justify-content: space-between;
}
.services__part {
  width: 23vw;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__part-title {
  margin: 2.5vw 0 3vw 0;
  font-family: Roboto Condensed;
  font-size: 2vw;
  color: #01353E;
  letter-spacing: 0.025vw;

}
.services__part-text {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  flex: 1 1 auto;
}
.services__part-paragraph {
  font-family: Roboto Condensed;
  font-size: 1vw;
  font-weight: light;
  color: #242121;
}
.services__part-price {
  margin: 3.5vw 0 2vw 0;
  font-family: Roboto Condensed;
  font-size: 2vw;
  letter-spacing: 0.025vw;
  color: #01353E;
  display: flex;
  align-items: center;
  gap: 0.25vw;
}
.services__part-price>span{
  font-size: 1vw;
}

/*----------------map-----------------*/

.map {
  width: 100%;
  min-height: 50vh;
  background-color: #FFFFFF;
}
.map__container {
  width: 80%;
  margin: 10vw auto;
}
.map__map {
  width: 100%;
}
.map__map >img {
  width: 100%;
}

/*------footer---------*/

.footer {
  background-color: #FFFFFF;
}
.footer__container {
  width: 100%;
  min-height: 10vw;
}
.footer__soures {
  display: flex;
  justify-content: center;
  font-family: Roboto Condensed;
  font-size: 1.5vw;
  letter-spacing: 0.025vw;
  gap: 2vw;
  margin: 0 0 10vw 0;
}

.footer__sourses-item:nth-child(2n) {
  color: #00B2A0;
}

.footer__foot {
  width: 100%;
  height: 10vw;
  background-color: #00B2A0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__foot>img {
  width: 5vw;
}